<div class="card animated fadeIn">
    <div class="card-header animated fadeIn fast">
        Sobre Comic App
    </div>
    <div class="card-body animated fadeIn">
        <h5 class="card-title">Que es comic app?</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolor ipsam soluta natus adipisci, modi illum sapiente enim similique. A, deleniti odio! Distinctio voluptate ipsum voluptates harum quidem eos adipisci.</p>
        <a [routerLink]="['home']" class="btn btn-primary">Go Home</a>
    </div>
</div>